@import url(fonts/font.css);

*{
   margin: 0;
   padding: 0;
   font-family: 'TT Lakes';
   font-size: 16px;
   line-height: 24px;   
   letter-spacing: -0.2px;
   color: #1b1c21;
   font-weight:500;
}
.aside-menu{
   box-sizing: border-box;
   padding: 20px;
   width: 320px;
   height: 100vh;
   position: fixed;
   box-shadow:-30px 0 80px 2px rgb(0,0,0,0.6);
}
.button{   
   border: none;
   background: none;
   height: 40px;
   width: 40px;  
   transition: filter 1s ease-in-out;
}
.button:hover{   
   cursor: pointer;
   filter: hue-rotate(360deg);
}
.button-header-open{
   background-image: url(img-style/burger-open.png);
   background-repeat: no-repeat;
}
.button-call{
   background-image: url(img-style/call.png);
   background-repeat: no-repeat;
}
.button-chat{
   background-image: url(img-style/chat.png);
   background-repeat: no-repeat;
}
.button-profile{
   background-image: url(img-style/profile.png);
   background-repeat: no-repeat;
}
.button-search{
   background-image: url(img-style/search.png);
   background-repeat: no-repeat;
}
/* header */
.header{
   display: flex;
   align-items: center;
}
.header__button-header-open{
   margin-right: 20px;
}
.header__button-search{
   margin-left: 80px;
}
.header__logo{
   transition: transform 0.2s;
}
.header__logo:hover{
   transform: skew(30deg, -30deg);
}
/* nav */
.nav__list{
   list-style: none;
   margin-top: 50px;
}
.nav__list a{
   text-decoration: none;
   transition: font-size 0.2s ease-in-out;
}
.nav__link{
   margin-bottom: 32px;
}
.nav__link:hover a{
   font-size: 1.1rem;
}
.link--active a{
   color: #7E7E82;
}
.link--active::before{
   content: '';
   display: inline-block;
   height: 32px;
   width: 4px;
   position: relative;
   top: 10px;
   border-radius: 0 4px 4px 0px;
   background-color: #41F6D7;
   margin-left: -20px;
   margin-right: 16px;
}
/* footer */
.contact{
   display: flex;
   flex-direction: column;
}
.contact__button{   
   margin-top: 100%;
   margin-right: 16px;
}
.contact__mail{
   margin-top: 16px;
   text-decoration: none;
}
.contact__mail::after{
   content:'';
   display:inline-block;
   width: 16px;
   height: 16px;
   margin-left: 10px;
   background: url('img-style/email.png') -20px 0 no-repeat;
   transition: background-position 0.2s ease-in;
}
.contact__tel::after{
   content:'';
   display:inline-block;
   width: 24px;
   height: 24px;
   margin-left: 10px;
   background: url('img-style/mobile.png') -30px 0 no-repeat;
   transition: background-position 0.2s ease-in;
}
.contact__mail:hover::after{
   background-position: 0 0;

}
.contact__tel:hover::after{
   background-position: 0 0;
}
.contact__tel{
   font-size: 24px;
   font-weight: 700;
   text-decoration: none;
   margin-top: 12px;
}
.contact__lang-button{
   margin-top: 40px;
   width: 20px;
   height: 20px;
   margin-right: 5px;
}
.lang-button--active{
   color: #7E7E82;
}
.lang-ch{
   transition: scale 0.5s ease-in-out;
}
.lang-ch:hover{
   transform:scale(0.8);
}
.lang-ru{
   transition: scale 0.5s ease-in-out;
}
.lang-ru:hover{
   transform:scale(0.8);
}
.lang-en{
   transition: scale 0.5s ease-in-out;
}
.lang-en:hover{
   transform:scale(0.8);
}
